/.cache/
/workspace/
/eclipse.jdt.ls
/savefiles/
/custom.el
/transient/
/elpa/
/.DS_Store
/projects
/auto-save-list/
/.org-id-locations
/.mc-lists.el
/bookmarks
/.lsp-session-v1
/eln-cache/
/tree-sitter/
/eshell/
/modules/other-packages/
/forge-database.sqlite
/abbrev_defs
/nov-places
/recentf
/tramp
/.dap-breakpoints
/*.sqlite
/ielm-history.eld
/agent-sessions.db
/agent-sessions.db-shm
/agent-sessions.db-wal
